## Settings file was created by plugin PlantEasily v1.7.0
## Plugin GUID: advize.PlantEasily

[Controls]

## Key to toggle on/off all mod features. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: F8
EnableModKey = F8

## Key to toggle on/off piece snapping functionality. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: F10
EnableSnappingKey = F10

## Key to increase number of grid columns. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: RightArrow
IncreaseXKey = RightArrow

## Key to increase number of grid rows. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: UpArrow
IncreaseYKey = UpArrow

## Key to decrease number of grid columns. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: LeftArrow
DecreaseXKey = LeftArrow

## Key to decrease number of grid rows. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: DownArrow
DecreaseYKey = DownArrow

## Modifier key when using keyboard controls. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: RightControl
KeyboardModifierKey = RightControl

## Modifier key when using gamepad controls. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: JoystickButton4
GamepadModifierKey = JoystickButton4

## Modifier key to enable bulk harvest when using keyboard controls. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: LeftShift
KeyboardHarvestModifierKey = LeftShift

## Key to toggle on/off the [Harvesting]ReplantOnHarvest setting. See https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyboardShortcut
# Default value: None
ToggleAutoReplantKey = 

[General]

## Enable mod debug messages in console.
# Setting type: Boolean
# Default value: false
EnableDebugMessages = false

## Number of rows for planting grid aka height.
# Setting type: Int32
# Default value: 2
Rows = 2

## Number of columns for planting grid aka width.
# Setting type: Int32
# Default value: 2
Columns = 2

## Enables all mod features.
# Setting type: Boolean
# Default value: true
ModActive = true

## Enables grid snapping feature.
# Setting type: Boolean
# Default value: true
SnapActive = true

## Prevents placement of resources when any placement ghosts are invalid for any reason.
# Setting type: Boolean
# Default value: true
PreventPartialPlanting = true

## Prevents plants from being placed where they will be unable to grow.
# Setting type: Boolean
# Default value: true
PreventInvalidPlanting = true

## Randomizes rotation of pieces once placed.
# Setting type: Boolean
# Default value: true
RandomizeRotation = true

## Consume stamina for every piece placed.
# Setting type: Boolean
# Default value: true
UseStamina = true

## Decrease durability of cultivator for every piece placed.
# Setting type: Boolean
# Default value: true
UseDurability = true

## Adds extra spacing between crops. Accepts negative values to decrease spacing (not recommended).
# Setting type: Single
# Default value: 0
ExtraCropSpacing = 0

## Adds extra spacing between saplings. Accepts negative values to decrease spacing (not recommended).
# Setting type: Single
# Default value: 0
ExtraSaplingSpacing = 0

## Determines grid snapping style. Intelligent will attempt to prevent a new grid from overlapping with an old one. Legacy will allow any orientation of new rows and columns.
# Setting type: GridSnappingStyle
# Default value: Intelligent
# Acceptable values: Intelligent, Legacy
GridSnappingStyle = Intelligent

## When set to true, this setting will prevent the diagonal snapping of new grids to existing grids.
# Setting type: Boolean
# Default value: true
StandardizeGridRotations = true

## Allows for tighter grids, but with varying spacing used between diverse/distinct plants. 
# Setting type: Boolean
# Default value: false
MinimizeGridSpacing = false

## When set to true, new grid placements will have their column and row directions align with the global grid.
# Setting type: Boolean
# Default value: true
GloballyAlignGridDirections = true

[Harvesting]

## Enables the ability to harvest multiple resources at once.
# Setting type: Boolean
# Default value: true
EnableBulkHarvest = true

## Determines bulk harvest style. LikeResources only harvests resources of the type you've interacted with. AllResources harvests all eligible resources.
# Setting type: HarvestStyle
# Default value: AllResources
# Acceptable values: LikeResources, AllResources
HarvestStyle = AllResources

## Determines radius used to search for resources when bulk harvesting.
# Setting type: Single
# Default value: 3
HarvestRadius = 5

## Enables automatic replanting of crops when harvested, provided you have the resources.
# Setting type: Boolean
# Default value: false
ReplantOnHarvest = false

[Pickables]

## Determines default distance/spacing between pickable resources when planting.
# Setting type: Single
# Default value: 1
PickableSnapRadius = 1

## Determines distance/spacing between berry bushes when planting.
# Setting type: Single
# Default value: 1.5
BerryBushSnapRadius = 1.5

## Determines distance/spacing between mushrooms when planting.
# Setting type: Single
# Default value: 0.5
MushroomSnapRadius = 0.5

## Determines distance/spacing between flowers when planting.
# Setting type: Single
# Default value: 1
FlowerSnapRadius = 1

## Prevents placement of pickable resources on top of colliding obstructions.
# Setting type: Boolean
# Default value: true
PreventOverlappingPlacements = true

[UI]

## Update resource cost in build UI.
# Setting type: Boolean
# Default value: true
ShowCost = true

## Determines display style of the ShowCost setting. TotalCount shows total number of pieces to be placed. FullCost shows combined resoure cost of all pieces.
# Setting type: CostDisplayStyle
# Default value: TotalCount
# Acceptable values: TotalCount, FullCost
CostDisplayStyle = TotalCount

## Determines whether to prepend or append text to the resource cost in build UI. LeftSide or RightSide will prepend or append respectively.
# Setting type: CostDisplayLocation
# Default value: RightSide
# Acceptable values: LeftSide, RightSide
CostDisplayLocation = RightSide

