## Settings file was created by plugin RevampTrader v1.0.6
## Plugin GUID: blacks7ar.RevampTrader

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

