## Settings file was created by plugin SearsCatalog v1.3.0
## Plugin GUID: redseiko.valheim.searscatalog

[_Global]

## Globally enable or disable this mod.
# Setting type: Boolean
# Default value: true
isModEnabled = true

[BuildHud.Panel]

## BuildHud.Panel visible rows (vanilla: 6).
# Setting type: Int32
# Default value: 6
# Acceptable value range: From 1 to 14
buildHudPanelRows = 7

## BuildHud.Panel visible columns (vanilla: 15).
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 1 to 26
buildHudPanelColumns = 12

## BuildHud.Panel position relative to center of the screen.
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
buildHudPanelPosition = {"x":-489.551025390625,"y":10.910232543945313}

[BuildHud.Panel.PieceSelection]

## BuildHud.Panel.CategoryRoot.sizeDelta width offset relative to panel width.
# Setting type: Single
# Default value: -155
categoryRootSizeWidthOffset = -155

## BuildHud.Panel.PieceSelection.TabBorder.sizeDelta width offset relative to panel width.
# Setting type: Single
# Default value: -45
tabBorderSizeWidthOffset = -45

## BuildHud.Panel.PieceSelection.InputHelp.sizeDelta offset relative to panel size.
# Setting type: Vector2
# Default value: {"x":-85.0,"y":0.0}
inputHelpSizeDeltaOffset = {"x":-85.0,"y":0.0}

