## Settings file was created by plugin Upgrade World v1.44
## Plugin GUID: upgrade_world

[1. General]

## If true, more detailed is printed (useful for debugging but may contain spoilers).
# Setting type: Boolean
# Default value: false
Verbose output = false

## If true, operations start automatically without having to use the start command.
# Setting type: Boolean
# Default value: false
Automatic start = false

## Max radius for operations.
# Setting type: Int32
# Default value: 10500
World radius = 10500

## List of player placed objects that prevent zones being modified.
# Setting type: String
# Default value: blastfurnace,bonfire,charcoal_kiln,fermenter,fire_pit,forge,guard_stone,hearth,piece_artisanstation,piece_bed02,piece_brazierceiling01,piece_groundtorch,piece_groundtorch_blue,piece_groundtorch_green,piece_groundtorch_wood,piece_oven,piece_spinningwheel,piece_stonecutter,piece_walltorch,piece_workbench,portal,portal_wood,smelter,windmill,piece_chest,piece_chest_blackmetal,piece_chest_private,piece_chest_treasure,piece_chest_wood
Safe zone items = blastfurnace,bonfire,charcoal_kiln,fermenter,fire_pit,forge,guard_stone,hearth,piece_artisanstation,piece_bed02,piece_brazierceiling01,piece_brazierfloor01,piece_brazierfloor02,piece_groundtorch,piece_groundtorch_blue,piece_groundtorch_green,piece_groundtorch_wood,piece_oven,piece_spinningwheel,piece_stonecutter,piece_walltorch,piece_workbench,portal,portal_wood,smelter,windmill,piece_chest,piece_cauldron,piece_chest_blackmetal,piece_chest_private,piece_chest_treasure,piece_chest_wood,Thorward,fire_pit_iron,piece_sapcollector,piece_chest_wooden_drawer

## List of object ids that prevent zones being modified.
# Setting type: String
# Default value: Player_tombstone
Safe zone objects = Player_tombstone,Cart,Karve,VikingShip,Raft,MBRaft

## 0 = disable, 1 = only the zone, 2 = 3x3 zones, 3 = 5x5 zones, etc.
# Setting type: Int32
# Default value: 2
Safe zones = 2

## SteamIDs that can execute commands on servers (-1 for the dedicated server). If not set, then all admins can execute commands.
# Setting type: String
# Default value: 
Root users = 

## The map shows coordinates on hover.
# Setting type: Boolean
# Default value: true
Show map coordinates = true

## The minimap shows player coordinates.
# Setting type: Boolean
# Default value: false
Show minimap coordinates = true

## Milliseconds between each command. Prevents lots of small operations overloading the dedicated server.
# Setting type: Int32
# Default value: 100
Operation delay = 150

## If enabled, new content updates won't automatically redistribute locations.
# Setting type: Boolean
# Default value: false
Disable automatic genloc = false

[2. Destroying]

## How many zones are destroyed per Unity update.
# Setting type: Int32
# Default value: 100
Operations per update = 100

[3. Change time/day]

## Names of the data values that should be updated with the new time. Changing these is NOT recommended.
# Setting type: String
# Default value: spawntime,lastTime,SpawnTime,StartTime,alive_time,spawn_time,picked_time,plantTime,pregnant,TameLastFeeding
Time based data names = spawntime,lastTime,SpawnTime,StartTime,alive_time,spawn_time,picked_time,plantTime,pregnant,TameLastFeeding

